@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background: #17181a;
  overflow-x: hidden;
}

#logo {
  color: white;
  font-family: "Abril Fatface", cursive;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background: #17181a;
}

.hero-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fashion-span {
  color: #ff8b5d;
}

.mountain-span {
  color: #567ce4;
}

.hike-span {
  color: #a76ee7;
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 4rem;
}

.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1rem;
  color: #e9e9e9;
}

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  -webkit-clip-path: circle(50px at 100% -10%);
  clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 4rem;
  -ms-flex-preferred-size: 30rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0rem;
}

.contact {
  -ms-flex-preferred-size: 30rem;
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 5rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  left: 0;
  top: -15%;
  background: #17181a;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 75% 75%;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: #567ce4;
  -webkit-transform: scale(3);
  transform: scale(3);
}

.cursor.explore-active {
  background: white;
  -webkit-transform: scale(3);
  transform: scale(3);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.t-swipe1 {
  background: #567ce4;
}

.t-swipe2 {
  background: #a76ee7;
}

.t-swipe3 {
  background: #ff8b5d;
}

body.hide {
  overflow: hidden;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}

/* Other pages */
.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

fashion-img {
  height: 70vh;
  -ms-flex-preferred-size: 30rem;
  flex-basis: 30rem;
}

.fashion-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fashion-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
}

.fashion-text h1 {
  font-size: 6rem;
  padding: 5rem 0rem;
}

.fashion1 h1 {
  color: #ff8b5d;
}

.fashion2 h1 {
  color: #a76ee7;
}

.fashion3 h1 {
  color: #567ce4;
}

.fashion-text p {
  font-size: 2rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}

.fashion-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: .5;
}